
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Updates - Ron Becker</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../../assets/built/screen.css?v=dd3d333c4e">

    <link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
    <link rel="canonical" href="index.html">
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta property="og:site_name" content="Ron Becker">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Updates - Ron Becker">
    <meta property="og:url" content="http://localhost:2368/tag/updates/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Updates - Ron Becker">
    <meta name="twitter:url" content="http://localhost:2368/tag/updates/">
    <meta name="twitter:site" content="@TheRonBecker">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Series",
    "publisher": {
        "@type": "Organization",
        "name": "Ron Becker",
        "logo": "http://localhost:2368/content/images/2019/11/ronbecker-logo-bluewhite-2.png"
    },
    "url": "http://localhost:2368/tag/updates/",
    "name": "Updates",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://localhost:2368/"
    }
}
    </script>

    
        <script src="https://js.stripe.com/v3/"></script>
        <script defer src="../../public/members.js?v=dd3d333c4e"></script>
    
    <meta name="generator" content="Ghost 3.1">
    <link rel="alternate" type="application/rss+xml" title="Ron Becker" href="../../rss/index.html">

</head>
<body class="tag-template tag-updates">

    <div class="site-wrapper">

        
<header class="site-archive-header">
    <div class="outer site-nav-main">
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left">
            <a class="site-nav-logo" href="../../"><img src="../../content/images/2019/11/ronbecker-logo-bluewhite-2.png" alt="Ron Becker"></a>
        <div class="site-nav-content">
                <ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="../../">Home</a></li>
    <li class="nav-author" role="menuitem"><a href="../../author/ronbecker/">Author</a></li>
</ul>

        </div>
    </div>
    <div class="site-nav-right">
        <div class="social-links">
                <a class="social-link social-link-tw" href="https://twitter.com/TheRonBecker" title="Twitter" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
</a>
        </div>
            <a class="subscribe-button" href="index.html#subscribe">Subscribe</a>
    </div>
</nav>
    </div>
</div>    

<div class="outer site-header-background no-image">

 
        <div class="inner site-header-content">
            <h1 class="site-title">Updates</h1>
            <h2 class="site-description">
                A collection of 1 post
            </h2>
        </div>
    </div>
</header>

<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
                <article class="post-card post tag-updates ">

    <a class="post-card-image-link" href="../../hello-world/">
        <img class="post-card-image" srcset="../../content/images/size/w300/2019/11/markus-spiske-hvSr_CVecVI-unsplash.jpg 300w,
                   ../../content/images/size/w600/2019/11/markus-spiske-hvSr_CVecVI-unsplash.jpgg 600w,
                  ../../content/images/size/w1000/2019/11/markus-spiske-hvSr_CVecVI-unsplash.jpgpg 1000w,
                 ../../content/images/size/w2000/2019/11/markus-spiske-hvSr_CVecVI-unsplash.jpgjpg 2000w" sizes="(max-width: 1000px) 400px, 700px" src="../../content/images/size/w600/2019/11/markus-spiske-hvSr_CVecVI-unsplash.jpg" alt="Hello, World!">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../../hello-world/">

            <header class="post-card-header">
                    <div class="post-card-primary-tag">Updates</div>
                <h2 class="post-card-title">Hello, World!</h2>
            </header>

            <section class="post-card-excerpt">
                    <p>Well, I should at least get an introduction post in here. Right? My name is Ron, and I like to do a terrible job at web development, and making Frankenstein</p>
            </section>

        </a>

        <footer class="post-card-meta">
            <ul class="author-list">
                <li class="author-list-item">
            
                    <div class="author-name-tooltip">
                        Ron Becker
                    </div>
            
                    <a href="../../author/ronbecker/" class="static-avatar">
                        <img class="author-profile-image" src="http://www.gravatar.com/avatar/b6759b6a767b4db40d372a269cebc330?s=250&amp;d=mm&amp;r=x" alt="Ron Becker">
                    </a>
                </li>
            </ul>
            <div class="post-card-byline-content">
                <span><a href="../../author/ronbecker/">Ron Becker</a></span>
                <span class="post-card-byline-date"><time datetime="2019-11-29">29 Nov 2019</time> <span class="bull">•</span> 1 min read</span>
            </div>
        </footer>

    </div>

</article>
        </div>
    </div>
</main>


        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="../../">Ron Becker</a> © 2019</section>
                <nav class="site-footer-nav">
                    <a href="../../">Latest Posts</a>
                    
                    <a href="https://twitter.com/TheRonBecker" target="_blank" rel="noopener">Twitter</a>
                    <!-- <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> -->
                </nav>
            </div>
        </footer>

    </div>

    <div class="subscribe-success-message">
        <a class="subscribe-close" href="javascript:;"></a>
        You've successfully subscribed to Ron Becker!
    </div>

    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-close" href="index.html#"></a>
        <div class="subscribe-overlay-content">
                <img class="subscribe-overlay-logo" src="../../content/images/2019/11/ronbecker-logo-bluewhite-2.png" alt="Ron Becker">
            <div class="subscribe-form">
                <h1 class="subscribe-overlay-title">Subscribe to Ron Becker</h1>
                <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
                <form data-members-form="subscribe">
                    <div class="form-group">
                        <input class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false">
                        <button class="button primary" type="submit">
                            <span class="button-content">Subscribe</span>
                            <span class="button-loader"><svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
    <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"></path>
    <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animatetransform attributetype="xml" attributename="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatcount="indefinite"></animatetransform>
    </path>
</svg></span>
                        </button>
                    </div>
                    <div class="message-success">
                        <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                    </div>
                    <div class="message-error">
                        Please enter a valid email address!
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="../../assets/built/casper.js?v=dd3d333c4e"></script>

    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });
    </script>

    

    

</body>
