<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Welcome to Ghost</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../assets/built/screen.css?v=467fe5f021">

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="canonical" href="http://localhost:2368/welcome/">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="amphtml" href="http://localhost:2368/welcome/amp/">
    
    <meta property="og:site_name" content="Ron Becker">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Welcome to Ghost">
    <meta property="og:description" content="Welcome, it's great to have you here.
We know that first impressions are important, so we've populated your new site with some initial getting started posts that will help you get familiar with everything in no time.">
    <meta property="og:url" content="http://localhost:2368/welcome/">
    <meta property="og:image" content="https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png">
    <meta property="article:published_time" content="2019-11-29T03:58:53.000Z">
    <meta property="article:modified_time" content="2019-11-29T03:58:48.000Z">
    <meta property="article:tag" content="Getting Started">
    
    <meta property="article:publisher" content="https://www.facebook.com/ghost">
    <meta property="article:author" content="https://www.facebook.com/ghost">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Welcome to Ghost">
    <meta name="twitter:description" content="Welcome, it's great to have you here.
We know that first impressions are important, so we've populated your new site with some initial getting started posts that will help you get familiar with everything in no time.">
    <meta name="twitter:url" content="http://localhost:2368/welcome/">
    <meta name="twitter:image" content="https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Ghost">
    <meta name="twitter:label2" content="Filed under">
    <meta name="twitter:data2" content="Getting Started">
    <meta name="twitter:site" content="@tryghost">
    <meta name="twitter:creator" content="ghost">
    <meta property="og:image:width" content="2000">
    <meta property="og:image:height" content="1215">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Ron Becker",
        "logo": "https://static.ghost.org/v1.0.0/images/ghost-logo.svg"
    },
    "author": {
        "@type": "Person",
        "name": "Ghost",
        "image": {
            "@type": "ImageObject",
            "url": "https://static.ghost.org/v3.0.0/images/ghost.png",
            "width": 400,
            "height": 400
        },
        "url": "http://localhost:2368/author/ghost/",
        "sameAs": [
            "https://ghost.org",
            "https://www.facebook.com/ghost",
            "https://twitter.com/ghost"
        ]
    },
    "headline": "Welcome to Ghost",
    "url": "http://localhost:2368/welcome/",
    "datePublished": "2019-11-29T03:58:53.000Z",
    "dateModified": "2019-11-29T03:58:48.000Z",
    "image": {
        "@type": "ImageObject",
        "url": "https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png",
        "width": 2000,
        "height": 1215
    },
    "keywords": "Getting Started",
    "description": "Welcome, it&#x27;s great to have you here.\nWe know that first impressions are important, so we&#x27;ve populated your new site with some initial getting started posts that will help you get familiar with everything in no time.",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "http://localhost:2368/"
    }
}
    </script>

    <meta name="generator" content="Ghost 3.1">
    <link rel="alternate" type="application/rss+xml" title="Ron Becker" href="http://localhost:2368/rss/">

</head>
<body class="post-template tag-getting-started">

    <div class="site-wrapper">

        

<header class="site-header">
    <div class="outer site-nav-main">
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left">
            <a class="site-nav-logo" href="http://localhost:2368"><img src="https://static.ghost.org/v1.0.0/images/ghost-logo.svg" alt="Ron Becker"></a>
        <div class="site-nav-content">
                <ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="http://localhost:2368/">Home</a></li>
    <li class="nav-tag" role="menuitem"><a href="http://localhost:2368/tag/getting-started/">Tag</a></li>
    <li class="nav-author" role="menuitem"><a href="http://localhost:2368/author/ghost/">Author</a></li>
    <li class="nav-help" role="menuitem"><a href="https://ghost.org/docs/">Help</a></li>
</ul>

                <span class="nav-post-title ">Welcome to Ghost</span>
        </div>
    </div>
    <div class="site-nav-right">
        <div class="social-links">
                <a class="social-link social-link-fb" href="https://www.facebook.com/ghost" title="Facebook" target="_blank" rel="noopener"><svg viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm5.204 4.911h-3.546c-2.103 0-4.443.885-4.443 3.934.01 1.062 0 2.08 0 3.225h-2.433v3.872h2.509v11.147h4.61v-11.22h3.042l.275-3.81h-3.397s.007-1.695 0-2.187c0-1.205 1.253-1.136 1.329-1.136h2.054V4.911z"></path></svg></a>
                <a class="social-link social-link-tw" href="https://twitter.com/tryghost" title="Twitter" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
</a>
        </div>
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/http://localhost:2368/rss/" title="RSS" target="_blank" rel="noopener"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18"></circle><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path></svg>
</a>
    </div>
</nav>
    </div>
</div></header>


<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post tag-getting-started ">

            <header class="post-full-header">

                <section class="post-full-tags">
                    <a href="../tag/getting-started/">Getting Started</a>
                </section>

                <h1 class="post-full-title">Welcome to Ghost</h1>

                <p class="post-full-custom-excerpt">Welcome, it's great to have you here.
We know that first impressions are important, so we've populated your new site with some initial getting started posts that will help you get familiar with everything in no time.</p>

                <div class="post-full-byline">

                    <section class="post-full-byline-content">

                        <ul class="author-list">
                            <li class="author-list-item">

                                <div class="author-card">
                                    <img class="author-profile-image" src="https://static.ghost.org/v3.0.0/images/ghost.png" alt="Ghost">
                                    <div class="author-info">
                                        <div class="bio">
                                            <h2>Ghost</h2>
                                            <p>You can delete this user to remove all the welcome posts</p>
                                            <p><a href="../author/ghost/">More posts</a> by Ghost.</p>
                                        </div>
                                    </div>
                                </div>

                                <a href="../author/ghost/" class="author-avatar">
                                    <img class="author-profile-image" src="https://static.ghost.org/v3.0.0/images/ghost.png" alt="Ghost">
                                </a>

                            </li>
                        </ul>

                        <section class="post-full-byline-meta">
                            <h4 class="author-name"><a href="../author/ghost/">Ghost</a></h4>
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="2019-11-28">28 Nov 2019</time>
                                <span class="byline-reading-time"><span class="bull">•</span> 1 min read</span>
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            <figure class="post-full-image">
                <img srcset="https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png 300w,
                            https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png 600w,
                            https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png 1000w,
                            https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png 2000w" sizes="(max-width: 800px) 400px,
                        (max-width: 1170px) 1170px,
                            2000px" src="https://static.ghost.org/v3.0.0/images/welcome-to-ghost.png" alt="Welcome to Ghost">
            </figure>

            <section class="post-full-content">
                <div class="post-content">
                    <h2 id="a-few-things-you-should-know"><strong>A few things you should know</strong></h2><ol><li>Ghost is designed for ambitious, professional publishers who want to actively build a business around their content. That's who it works best for. </li><li>The entire platform can be modified and customised to suit your needs. It's very powerful, but does require some knowledge of code. Ghost is not necessarily a good platform for beginners or people who just want a simple personal blog. </li><li>It's possible to work with all your favourite tools and apps with hundreds of <a href="https://ghost.org/integrations/">integrations</a> to speed up your workflows, connect email lists, build communities and much more.</li></ol><h2 id="behind-the-scenes">Behind the scenes</h2><p>Ghost is made by an independent non-profit organisation called the Ghost Foundation. We are 100% self funded by revenue from our <a href="https://ghost.org/pricing">Ghost(Pro)</a> service, and every penny we make is re-invested into funding further development of free, open source technology for modern publishing.</p><p>The version of Ghost you are looking at right now would not have been made possible without generous contributions from the open source <a href="https://github.com/TryGhost">community</a>.</p><h2 id="next-up-the-editor">Next up, the editor</h2><p>The main thing you'll want to read about next is probably: <a href="http://localhost:2368/the-editor/">the Ghost editor</a>. This is where the good stuff happens.</p><blockquote>By the way, once you're done reading, you can simply delete the default Ghost user from your team to remove all of these introductory posts! </blockquote>
                </div>
            </section>



        </article>

    </div>
</main>

<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
                <article class="read-next-card">
                    <header class="read-next-card-header">
                        <h3><span>More in</span> <a href="../tag/getting-started/">Getting Started</a></h3>
                    </header>
                    <div class="read-next-card-content">
                        <ul>
                            <li>
                                <h4><a href="../the-editor/">Writing posts with Ghost ✍️</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="2019-11-28">28 Nov 2019</time> –
                                        3 min read</p>
                                </div>
                            </li>
                            <li>
                                <h4><a href="../publishing-options/">Publishing options</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="2019-11-28">28 Nov 2019</time> –
                                        2 min read</p>
                                </div>
                            </li>
                            <li>
                                <h4><a href="../admin-settings/">Managing admin settings</a></h4>
                                <div class="read-next-card-meta">
                                    <p><time datetime="2019-11-28">28 Nov 2019</time> –
                                        2 min read</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="../tag/getting-started/">See all 6 posts
                            →</a>
                    </footer>
                </article>


                <article class="post-card post tag-getting-started ">

    <a class="post-card-image-link" href="../the-editor/">
        <img class="post-card-image" srcset="https://static.ghost.org/v3.0.0/images/writing-posts-with-ghost.png 300w,
                    https://static.ghost.org/v3.0.0/images/writing-posts-with-ghost.png 600w,
                    https://static.ghost.org/v3.0.0/images/writing-posts-with-ghost.png 1000w,
                    https://static.ghost.org/v3.0.0/images/writing-posts-with-ghost.png 2000w" sizes="(max-width: 1000px) 400px, 700px" src="https://static.ghost.org/v3.0.0/images/writing-posts-with-ghost.png" alt="Writing posts with Ghost ✍️">
    </a>

    <div class="post-card-content">

        <a class="post-card-content-link" href="../the-editor/">

            <header class="post-card-header">
                    <div class="post-card-primary-tag">Getting Started</div>
                <h2 class="post-card-title">Writing posts with Ghost ✍️</h2>
            </header>

            <section class="post-card-excerpt">
                    <p>Discover familiar formatting options in a functional toolbar and the ability to add dynamic content seamlessly.</p>
            </section>

        </a>

        <footer class="post-card-meta">
            <ul class="author-list">
                <li class="author-list-item">
            
                    <div class="author-name-tooltip">
                        Ghost
                    </div>
            
                    <a href="../author/ghost/" class="static-avatar">
                        <img class="author-profile-image" src="https://static.ghost.org/v3.0.0/images/ghost.png" alt="Ghost">
                    </a>
                </li>
            </ul>
            <div class="post-card-byline-content">
                <span><a href="../author/ghost/">Ghost</a></span>
                <span class="post-card-byline-date"><time datetime="2019-11-28">28 Nov 2019</time> <span class="bull">•</span> 3 min read</span>
            </div>
        </footer>

    </div>

</article>
        </div>
    </div>
</aside>




        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="http://localhost:2368">Ron Becker</a> © 2019</section>
                <nav class="site-footer-nav">
                    <a href="http://localhost:2368">Latest Posts</a>
                    <a href="https://www.facebook.com/ghost" target="_blank" rel="noopener">Facebook</a>
                    <a href="https://twitter.com/tryghost" target="_blank" rel="noopener">Twitter</a>
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="../assets/built/casper.js?v=467fe5f021"></script>

    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });
    </script>

    <script>
    $(document).ready(function () {
        // FitVids - start
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
        // FitVids - end

        // Replace nav with title on scroll - start
        Casper.stickyNavTitle({
            navSelector: '.site-nav-main',
            titleSelector: '.post-full-title',
            activeClass: 'nav-post-title-active'
        });
        // Replace nav with title on scroll - end

        // Hover on avatar
        var hoverTimeout;
        $('.author-list-item').hover(function () {
            var $this = $(this);

            clearTimeout(hoverTimeout);

            $('.author-card').removeClass('hovered');
            $(this).children('.author-card').addClass('hovered');

        }, function () {
            var $this = $(this);

            hoverTimeout = setTimeout(function () {
                $this.children('.author-card').removeClass('hovered');
            }, 800);
        });
    });
</script>


    

</body>
